<div id='outer' class='menuView'>


    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar w3-xlarge w3-black w3-opacity w3-hover-opacity-off" id="myNavbar">

            <button class="w3-bar-item button alert large" onClick='clicked()'>Service</button>
            <button data-reveal-id="myOrder" class="w3-bar-item w3-right button success large ">Ma commande (<span id="nbItems">0</span>)</button>
        </div>
    </div>

    <!-- Header with image -->
    <header style="" class="bgimg w3-display-container w3-grayscale-min" id="home">

        <div class="w3-display-bottomleft w3-padding">
            <span class="w3-tag w3-xlarge">ouvert de 10am a 11pm</span>
        </div>
        <div class="w3-display-middle w3-center">
            <span class="w3-text-white " style="font-size:80px">commande2.0</span>

            <p><a href="/#!/menu#menu" class="w3-button w3-xxlarge w3-black">Voir menu</a></p>
        </div>
    </header>

    <!-- Menu Container -->
    <div class="w3-container w3-black w3-padding-64 w3-xxlarge" id="menu">
        <div class="w3-content">

            <h1 class="w3-center w3-jumbo" style="margin-bottom:64px"> MENU</h1>
            <div class="w3-row w3-center w3-border w3-border-dark-grey">

                <div ng-repeat="category in categories">
                    <a href="javascript:void(0)" ng-click="openMenu(this, category.name);" id="{{category.name}}but">
                        <div class="w3-col s6 m4 tablink w3-padding-large w3-hover-red">{{category.name}}</div>
                    </a>
                </div>

            </div>

            <div ng-repeat="category in categories" id="{{category.name}}" class="w3-container menu w3-padding-32 w3-white">
                <div ng-repeat="meal in meals">
                    <div ng-if="meal.category == category.name">
                        <h1><b>{{meal.name}}</b> <span class="w3-right w3-tag w3-dark-grey w3-round">${{meal.price}}</span><br>
                        <button class="button" ng-click="addToOrder(this, meal)">Ajouter</button></h1>
                        <div style="background:url('{{meal.image}}')" class="mealImage"></div>
                        <div class="mealDesc">
                            <p class="w3-text-grey w3-xlarge">{{meal.description}}</p>
                        </div>

                        <hr>
                    </div>
                </div>

            </div>
            <br>

        </div>
    </div>


    <!-- Footer -->
    <footer class="w3-center w3-black w3-padding-48 w3-xxlarge">
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">Dave Bernier et Vincent Pelletier</a></p>
    </footer>

    


</div>

<!-- Reveal commande -->
    <div id="myOrder" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <h2 id="modalTitle">Vos Items</h2>
        <ul id="orderedItems"> </ul>

        <button id="sendOrderBtn" class="button success" onclick="sendOrder()" disabled>Passer la commande</button>

        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

<script>
    var nom = "";
    var nbItem = 0;
    var scope = angular.element($("#outer")).scope();

    setTimeout(function () {
        $(document).foundation();
        //do this after view has loaded :)
        nom = scope.tableId;
        socket.emit('log', {
            tableId: nom
        });

    }, 1000);

    function clicked() {
        socket.emit('help', {
            tableId: nom
        });
    }

    function sendMsg() {
        socket.emit('msg', {
            tableId: nom,
            msg: document.getElementById('msg').value
        });
    }
    socket.on('coming', function (data) {
        if (nom == data.tableId)
            alert('Un/e serveu/r/se a vu votre demande d\'assistance');
    });

    function delMeal(e) {
        e.target.parentElement.parentElement.removeChild(e.target.parentElement);
        $('#nbItems')[0].innerText = --nbItem;
        if (nbItem === 0) $("#sendOrderBtn").prop('disabled', true);
    }

    function sendOrder() {
        var els = document.getElementsByClassName("orderedId");
        var order = {};
        order.items = [];

        [].forEach.call(els, function (inId) {
            console.log(inId.value);
            order.items.push(inId.value);
        });


        order.tableId = nom;
        console.log(order);
        
        socket.emit('order', order);
        scope.sendOrder(order);
    }
</script>