<style>
    #outer,
    h1 {
        font-family: "Raleway", sans-serif
    }
    
    #outer,
    html {
        height: 100%
    }
    
    .bgimg {
        background-image: url('/w3images/forestbridge.jpg');
        min-height: 100%;
        background-position: center;
        background-size: cover;
    }
</style>
<div id="outer">
<div class="w3-display-container w3-animate-opacity ">
    <div class="w3-display-topleft w3-padding-large w3-xlarge">
        Commande 2.0
    </div>
    <div class="w3-display-middle">
        <h1 style="margin-top:400px"class="w3-jumbo w3-animate-top">Scanner <br>COMING SOON</h1>
        <hr class="w3-border-grey" style="margin:auto;width:40%">
        <p class="w3-large w3-center">7 days left</p>
    </div>
    <div class="w3-display-bottomleft w3-padding-large">
        Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">Dave et Vincent</a>
    </div>
</div>

<!-- partie semi-fonctionnelle 
<div id="outer" class="fileinputs">
    <input id="code" class="file" type="file" accept="image/*" capture="camera" onChange="load()">

    <div class="fakefile">
        <input type="button" class="button" value="Prendre photo" />
    </div>
    <img id="qr" src="" />
    <button id="send" class="button" onclick="decode()" disabled>Envoyer</button>
</div>
-->
<script src="../bower_components/qcode-decoder/build/qcode-decoder.min.js"></script>


<script style="text/javascript">
    function load() {
        var input = document.getElementById('code');

        if (input.files && input.files[0]) {

            var reader = new FileReader();
            var img = document.getElementById('qr');
            reader.onload = function (e) {
                img.setAttribute('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
            document.getElementById('send').textContent = "Scan";
            document.getElementById('send').disabled = false;
        }
    }

    function decode() {
        var img = document.getElementById('qr');
        QCodeDecoder().decodeFromImage(img, function (er, res) {

            var scope = angular.element($("#outer")).scope();
            console.log('scope:', scope);
            scope.$apply(function () {
                scope.saveTable(res);
                alert(res);
            });
        });
        window.location = "/#!/menu";
    }
</script>