<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>menu</title>
</head>

<body>
    <h1>MENU</h1>

    <button onClick='clicked()'>Click me!</button>
    <textarea id="msg">
        
    </textarea>
    <button onclick="sendMsg()">Envoyer</button>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        /****  IMPORTANT Entrer l'Adresse ip du server  ****/
        var socket = io.connect('http://10.10.50.21:3000');
        
        var nom = prompt('#table:');
        
        socket.emit('log', {
            tableId: nom
        });


        function clicked() {
            socket.emit('help', {
                tableId: nom
            });
        }
        
        function sendMsg() {
            socket.emit('msg', {
                tableId: nom,
                msg : document.getElementById('msg').value
            });
        }
        socket.on('coming', function(data){
            if(nom == data.tableId)
            alert('Un(e) server(se) a vu votre demande d\'assistance');
        })
    </script>
</body>

</html>