<!doctype html>
<html class="no-js" lang="en" dir="ltr" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="./bower_components/foundation/css/foundation.min.css">
    <link rel="stylesheet" href="./css/app.css">
    <link rel="stylesheet" href="./stylesheets/style.css">



</head>

<body class="plan">
    <header class="plan-header">

    </header>
    <div class="row">
        <div class="small-3 columns">
            <div sidePlan>______________________</div>
        </div>
        <div class="small-6 columns">
            <div class=' grid-container'>
                <div id='square-grid' class='square-grid small-center'>
                </div>
            </div>
        </div>
        <div class="small-3 columns side">
            <div id="commandes">
                <h3>Commandes</h3></div>
        </div>


        <!-- Reveal commande -->
        <div id="myOrder" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <h2 id="modalTitle">Table <span id="tableNo"></span><hr></h2>
            <div id="orderContainer"></div>
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
    </div>



    <script src="bower_components/foundation/js/vendor/jquery.js"></script>
    <script src="bower_components/foundation/js/vendor/fastclick.js"></script>
    <script src="bower_components/foundation/js/foundation.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.reveal.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io('commande20.local/');
        $(document).foundation();
        socket.emit('log', {
            tableId: 0
        });

        var tableId = 1;
        var grid = document.getElementById('square-grid');
        for (var i = 1; i < 21; i++) {
            for (var j = 1; j < 21; j++) {
                var square = document.createElement('div');
                var content = document.createElement('div');


                square.className = 'square-grid__cell square-grid__cell--10';
                content.className = 'square-grid__content';
                square.id = j + '-' + i;

                square.appendChild(content);
                grid.appendChild(square);
            }
        }

        placeTable(4, 2, 2, 2);
        placeTable(4, 2, 9, 2);
        placeTable(4, 2, 16, 2);

        function closeTable(e) {
            var tableId = e.target.parentElement.parentElement.getAttribute("data-tableid");
            var squares = document.querySelectorAll("[data-tableid='" + tableId + "']");
            squares[squares.length / 2 - 1].firstChild.firstChild.className = 'button disabled tiny';
            squares.forEach(function (el) {
                el.style.backgroundColor = "gray";
                el.style.boxShadow = "0 0 0 1px gray";
            });
        }

        function placeTable(w, h, x, y) {
            var butClose = document.createElement('button'),
                butInfo = document.createElement('button');
            butClose.innerHTML = '&#x2718;';
            butClose.addEventListener('click', closeTable);
            butClose.className = 'button disabled tiny';
            butClose.style.padding = "2px 5px";
            butClose.style.top = "-3px";
            butClose.style.right = "-3px";

            butInfo.innerHTML = "?";
            butInfo.setAttribute("data-reveal-id", "myOrder");
            butInfo.className = 'button disabled tiny';
            butInfo.style.padding = "5px 8px";
            butInfo.style.bottom = "-3px";
            butInfo.style.left = "-3px";
            //butInfo.setAttribute('disabled', true);
            butInfo.addEventListener('click', getOrders);



            var squares = [
                document.getElementById(x + '-' + y)];
            for (var i = 0; i < h; i++) {
                for (var j = 0; j < w; j++) {
                    squares.push(document.getElementById((x + j) + '-' + y));
                    squares.push(document.getElementById((x + j) + '-' + (y + i)));
                }
            }

            document.getElementById((x + w - 1) + '-' + y).firstChild.appendChild(butClose);
            document.getElementById((x) + '-' + (y + h - 1)).firstChild.appendChild(butInfo);

            squares.forEach(function (el) {
                el.style.backgroundColor = "gray";
                el.style.boxShadow = '0 0 0 1px gray';
                el.setAttribute('data-tableId', tableId);
                el.addEventListener('click', resetToGreen);
            });
            squares[0].firstChild.textContent = tableId++;
            return {
                x: x,
                y: y,
                h: h,
                w: w
            }
        }

        function resetToGreen(e) {
            e.preventDefault();
            var tableId = e.target.getAttribute("data-tableid");

            if (e.target.style.backgroundColor === "red") {
                coming(tableId);
                var all = document.querySelectorAll("[data-tableid='" + tableId + "']");
                all[all.length / 2 - 1].firstChild.firstChild.className = 'button alert tiny';
                all.forEach(function (el) {
                    el.style.backgroundColor = "green";
                    el.style.boxShadow = "0 0 0 1px green"
                });
            }
        }

        function tableGreen(table) {
            var all = document.querySelectorAll("[data-tableid='" + table.tableId + "']");
            all[all.length / 2 - 1].firstChild.firstChild.className = 'button alert tiny';
            all.forEach(function (el) {
                el.style.backgroundColor = "green";
                el.style.boxShadow = "0 0 0 1px green"
            });
        }

        function tableRed(table) {
            var all = document.querySelectorAll("[data-tableid='" + table.tableId + "']");

            all.forEach(function (el) {
                el.style.backgroundColor = "red";
                el.style.boxShadow = "0 0 0 1px red"
            });
        }
        socket.on('log', function (data) {
            console.log(data);
            if (data.tableId != 0)
                tableGreen(data);
        });

        socket.on('help', tableRed);

        socket.on('msg', function (data) {
            console.log(data);
            var mesDiv = document.getElementById('messages');
            mesDiv.innerHTML += 'table' + data.tableId + ': ' + data.msg + "<br>";

        });

        socket.on('order', function (data) {
            $.get("/plan/getOrders", data, function (res) {
                updateOrders(res);
            });
        });

        function coming(id) {
            socket.emit('coming', {
                tableId: id
            });
        }

        function getOrders(e) {
            var tableId = e.target.parentElement.parentElement.getAttribute("data-tableid");

            $.get("/plan/getOrders", {
                tableId: tableId
            }, function (res) {
                updateOrders(res);
            });
        }

        function updateOrders(orders) {
            var modal = document.getElementById('orderContainer');
            document.getElementById('orderContainer').innerHTML = "";

            console.log(modal);

            $("#tableNo").text(orders[0].table);

            modal.style.margin = "auto";

            //Loop les commandes de cette table
            orders.forEach(function (order, idx) {

                var orderDiv = document.createElement('div'),
                    ul = document.createElement('ul'),
                    closeBut = document.createElement('button'),
                    h5 = document.createElement('h5'),
                    hidIn = document.createElement('input');

                orderDiv.style.display = "inline-block";
                orderDiv.style.border = "1px dotted lightgrey";
                orderDiv.style.verticalAlign = "top";
                orderDiv.style.borderStyle = "none solid";
                orderDiv.style.padding = "5px 20px 0px 15px";
                orderDiv.style.minWidth = "150px";
                h5.textContent = "#" + (idx + 1) + " ";


                closeBut.textContent = "Fermer";
                closeBut.className = "button alert";
                closeBut.style.padding = "5px 5px";
                closeBut.style.float = "right";
                closeBut.addEventListener('click', closeOrder);
                
                hidIn.setAttribute('type', 'hidden');
                hidIn.value = order._id;
                
                orderDiv.appendChild(document.createElement('hr'));
                orderDiv.appendChild(hidIn);
                h5.appendChild(closeBut);
                orderDiv.appendChild(h5);
                orderDiv.appendChild(document.createElement('hr'));
                
                //Loop les repas commandés
                order.items.forEach(function (item) {

                    ul.innerHTML += "<li>" + item.name + "</li>"

                });

                orderDiv.appendChild(ul);
                
                modal.appendChild(orderDiv);
            });

        }
        
        function closeOrder(e){
            var id = e.target.parentElement.previousSibling.value;
            console.log(id);
            /*Post request d'un update de commande. P-e à faire dans modèle aussi*/
            
        }
    </script>

</body>

</html>