/* latin-ext */

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(fonts/raleway.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(fonts/raleway-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* Amatic */


/* latin-ext */

@font-face {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 400;
    src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url(/fonts/amatic-latin-ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 400;
    src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url(/fonts/amatic-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.menuView,
html {
    height: 100%
}

.menuView,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Amatic SC", sans-serif
}

.menu {
    display: none
}

.bgimg {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../image/burger.jpg");
    min-height: 300px;
}

.mealImage {
    background-repeat: no-repeat !important;
    background-size: contain !important;
    width: 200px;
    height: 150px;
    margin-right: 20px;
    float: left;
    border-radius: 5px;
}

@media screen and (max-width: 480px){
    .mealImage {
        width: 100px;
    height: 75px;
    }
}

.m4, .l4, .s6, .s5, .s4, .s3, .s2, w3-half {
    white-space: nowrap;
}

.menuView {
    background-color: black;
}
footer {
    bottom:0px;
}
#orderedItems {
    width: 250px;
    margin:auto;
    list-style: circle;
}